/* Adding another sub-section for the menu, so moving that section to the right to mark the fact that it's a subsection*/
.docs-nav .section-items .third_level
{
	font-size: 0.90em;
	left: 22px;
}
/* A fourth section*/
.docs-nav .section-items .fourth_level
{
	font-size: 0.80em;
	left: 33px;
}
.logo-icon
{
	max-height:1.7em;
}
.no_display
{
	display:none;
}

.go_display
{
	display:block;
}

.docs-section h4, .docs-section h6
{
	color: #252930;
}

.crop div {
	flex: 50%;
	padding: 5px;
	overflow: hidden;
}

.crop img {
        margin-top: -22%;
    }

.kVVBQg {
    color: rgb(212, 31, 28);
    font-size: 0.9em;
    font-weight: normal;
    margin-left: 20px;
    line-height: 1;
    display: block;
}

.Gbatr::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 10px;
    height: 1px;
    background: rgb(124, 124, 187);
}

.Gbatr::after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 1px;
    background: rgb(124, 124, 187);
    height: 7px;
}

.dJYToW {
    font-size: 1.3em;
    padding: 0.2em 0px;
    margin: 3em 0px 1.1em;
    color: rgb(51, 51, 51);
    font-weight: normal;
}

.code {
    border-radius: 2px;
    background-color: rgba(51, 51, 51, 0.05);
    color: rgba(51, 51, 51, 0.9);
    padding: 0px 5px;
    border: 1px solid rgba(51, 51, 51, 0.1);
    font-family: Courier, monospace;
}

.postman_code
{
	max-height:45vh;
	overflow: scroll;
}